node_red.json
[{"id":"582b6ccf.76d784","type":"tab","label":"Customer Help Desk","disabled":false,"info":""},{"id":"25da4634.5d221a","type":"watson-conversation-v1","z":"582b6ccf.76d784","name":"","workspaceid":"021fabc1-cdfd-4c2e-91cc-1677a254e37e","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/f72ccbf7-1c9f-423f-b2a3-91124a2e9549","timeout":"","optout-learning":false,"x":440,"y":120,"wires":[["dfd3095d.faab58","6440c53d.2fadfc"]]},{"id":"dfd3095d.faab58","type":"debug","z":"582b6ccf.76d784","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":100,"wires":[]},{"id":"6440c53d.2fadfc","type":"function","z":"582b6ccf.76d784","name":"parsing","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["1f5114a3.8b664b","ea9165bf.1efbf8"]]},{"id":"2a44ad24.843472","type":"ui_text","z":"582b6ccf.76d784","group":"68ff6ed4.ebc9e","order":2,"width":"22","height":1,"name":"","label":"You","format":"{{msg.payload}}","layout":"col-center","x":390,"y":400,"wires":[]},{"id":"1f5114a3.8b664b","type":"ui_text","z":"582b6ccf.76d784","group":"68ff6ed4.ebc9e","order":3,"width":"22","height":"7","name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":570,"y":400,"wires":[]},{"id":"ea9165bf.1efbf8","type":"debug","z":"582b6ccf.76d784","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":140,"wires":[]},{"id":"2ef54bb7.3b8b94","type":"function","z":"582b6ccf.76d784","name":"input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["25da4634.5d221a","2a44ad24.843472"]]},{"id":"19466fbb.2b00a","type":"ui_form","z":"582b6ccf.76d784","name":"","label":"Enter your Query","group":"68ff6ed4.ebc9e","order":1,"width":"22","height":"1","options":[{"label":"","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":180,"wires":[["2ef54bb7.3b8b94"]]},{"id":"68ff6ed4.ebc9e","type":"ui_group","z":"","name":"Home","tab":"54e448c9.0bc0f8","order":1,"disp":true,"width":"22","collapse":false},{"id":"54e448c9.0bc0f8","type":"ui_tab","z":"","name":"Customer Help Desk","icon":"dashboard","disabled":false,"hidden":false}]